<!--
  ~ Copyright 2016 Johns Hopkins University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

  <!--
    OkHttpClient
      Used to make HTTP requests to OSF and Waterbutler.
      May be safely shared as a singleton.

    BeanAccessibleOkHttpClient found in osf-client-support-okhttp
  -->
  <bean id="okHttpClient" class="org.dataconservancy.cos.osf.client.support.BeanAccessibleOkHttpClient">
    <property name="interceptors">
      <list>
        <bean class="org.dataconservancy.cos.osf.client.support.AuthInterceptor">
          <constructor-arg ref="osfConfigurationSvc"/>
        </bean>
        <bean class="org.dataconservancy.cos.osf.client.support.ApiVersionInterceptor">
          <constructor-arg ref="osfConfigurationSvc"/>
        </bean>
      </list>
    </property>
  </bean>

  <!--
    RelationshipResolver used to resolve JSON API relationships
      May be safely shared as a singleton.

    ResourceConverterGlobalResolver found in osf-client-support-jsonapi
  -->
  <bean id="jsonApiRelationshipResolver" class="org.dataconservancy.cos.osf.client.support.ResourceConverterGlobalResolver">
    <constructor-arg ref="okHttpClient"/>
  </bean>

  <!--
    Detects classes under the supplied package name that are annotated with the supplied annotation
      Finds OSF model classes annotated with the JSON-API converter type.
      May be safely shared as a singleton.

    ModelClassScanner found in osf-client-support-jsonapi
  -->
  <bean id="modelClassScanner" class="org.dataconservancy.cos.osf.client.support.ModelClassScanner">
    <constructor-arg value="org.dataconservancy.cos.osf.client.model"/>
    <constructor-arg value="com.github.jasminb.jsonapi.annotations.Type"/>
  </bean>

  <!--
    Factory which generates JSON-API converter ResourceConverter instances.
      May be safely shared as a singleton.

    ResourceConverterFactory found in osf-client-support-jsonapi
  -->
  <bean id="resourceConverterFactory" class="org.dataconservancy.cos.osf.client.support.ResourceConverterFactory"/>

  <!--
    Converts JSON-API documents to Java objects.
      May *not* be shared as a singleton, because I'm not sure of the threading semantics of the Jackson ObjectMapper
  -->
  <bean id="resourceConverter" factory-bean="resourceConverterFactory" factory-method="newConverter">
    <constructor-arg>
      <bean class="com.fasterxml.jackson.databind.ObjectMapper"/>
    </constructor-arg>
    <constructor-arg ref="modelClassScanner"/>
    <constructor-arg ref="jsonApiRelationshipResolver"/>
  </bean>

  <!--
    Uses Retrofit to generate instances of OsfService, the interface used to access the OSF and Waterbutler JSON API.
      May *not* be shared as a singleton, because it uses the resourceConverter bean.
  -->
  <bean id="osfServiceFactory" class="org.dataconservancy.cos.osf.client.service.RetrofitOsfServiceFactory" scope="prototype">
    <constructor-arg ref="osfConfigurationSvc"/>
    <constructor-arg ref="wbConfigurationSvc"/>
    <constructor-arg ref="okHttpClient"/>
    <constructor-arg>
      <bean class="com.github.jasminb.jsonapi.retrofit.JSONAPIConverterFactory">
        <constructor-arg ref="resourceConverter"/>
      </bean>
    </constructor-arg>
  </bean>

  <!--
    The interface used to access the OSF and Waterbutler APIs.
      May *not* be shared as a singleton.
  -->
  <bean id="osfService" factory-bean="osfServiceFactory" factory-method="getOsfService" scope="prototype">
    <constructor-arg value="org.dataconservancy.cos.osf.client.service.OsfService"/>
  </bean>

  <!--
    Facade providing access to a Jena model that enforces compliance with the OSF ontology.
     May *not* be shared as a singleton.
  -->
  <bean id="ontologyManager" class="org.dataconservancy.cos.rdf.support.OntologyManager" scope="prototype"/>

</beans>