.DS_Store
target/
.idea
*.iml
*.iws
*.ipr
*.sh
*.iml
*.iws
*.ipr
*.idea
target/
.svn/
*.project
*.classpath
osf-client.json
osf-client-test.json
osf-client-test.json
.DS_Store
catalog-v001.xml
MyPackage*
dependency-reduced-pom.xml
